streamlit
azure-ai-translation-document
azure-storage-blob
requests
python-dotenv==1.0.1
python_docx==0.8.11
python_pptx==0.6.23
importlib_metadata==4.8.1
docx==0.2.4
fitz==0.0.1.dev2
gibberish_detector==0.1.1
pypdf==4.2.0
pandas==1.5.3
pdfminer.six==20221105
