streamlit==1.27.2
azure-ai-translation-document
azure-storage-blob
requests==2.32.3
python-dotenv==1.0.1
python_docx==0.8.11
python_pptx==0.6.23
importlib_metadata==4.8.1
gibberish_detector==0.1.1
docx==0.2.4
pandas==1.5.3
pdfminer.six==20221105
pypdf==4.2.0